Repository neo4j/docs-drivers, pull requests merged in 2021-11, with the labels that each got.

#230 Python: improve logging example
  pythonManual/asciidoc/client-applications.adoc
Labels: PYTHON, 4.4

#232 Adding examples for Python's temporal types
  pythonManual/asciidoc/cypher-workflow.adoc
Labels: PYTHON, 4.4, cherry-pick-this-to-4.3

#233 Adding examples for Python's geospatial types
  pythonManual/asciidoc/cypher-workflow.adoc
Labels: PYTHON, 4.4, cherry-pick-this-to-4.3

#234 Adding examples for Python's temporal types
  pythonManual/asciidoc/cypher-workflow.adoc
Labels: cherry-picked, PYTHON, 4.3

#237 Adding examples for Pythons geospatial types
  pythonManual/asciidoc/cypher-workflow.adoc
Labels: cherry-picked, THIS VERSION ONLY, PYTHON, 4.3

#231 Js: Update driver manual examples path
  commonManual/asciidoc/index.adoc
  jsManual/antora/antora.yml
  jsManual/asciidoc/index.adoc
Labels: JAVASCRIPT, Dependancy on other PR, 4.4

#238 Expand auto-commit section to reference CALL {} IN TX
  commonManual/asciidoc/session-api.adoc
Labels: 4.4
